body{

    background-color: rgb(104, 212, 248);

}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}


nav{
    position: absolute;
    top: 220;
    right: 0;
}
nav li{
    
    display: inline ;
    margin-left: 15px;
    
    
}
nav a{
    text-decoration: none;
    
}

#lista desordenada{

    text-decoration: none;

}
h1{
    text-align: center
}
.lista{

    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    
    

}