body{
    
    color: mediumblue;
    font-style: sans-serif;
    background-color: lightslategrey;
    text-align: center;

}
button{

    color: midnightblue;

}
#resultado{

    font-weight: bold;

}