input{

    background-color: rgba(212, 210, 93, 0.671);
    border: tomato;
    box-sizing: border-box;
}
body{
    
    color: mediumblue;
    font-style: sans-serif;
    background-color: lightslategrey;
    text-align: center;

}
button{

    color: midnightblue;

}
#resultado{

    font-weight: bold;

}